#SCALES="10 20 40 50 80 100"
#SETCLIENTS="1 2 4 8 16 32 64 128 256"
#TEST_TIME_IN_MIN=12
#SETTIMES=1
#IMPORT_CONCURRENT=10
#SKIPINIT=0
#SKIPTEST=0
SCALES="SCALES"
SETCLIENTS="SETCLIENTS"
TEST_TIME_IN_MIN=TEST_TIME_IN_MIN
SETTIMES=TEST_TIME_IN_MIN
IMPORT_CONCURRENT=IMPORT_CONCURRENT
SKIPINIT=SKIPINIT
SKIPTEST=SKIPTEST
